{% extends "people/employee.html" %}

{% block extra_styles %}
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block main_content %}
{% include "people/includes/employee_subnav.html" with selected_tab="okrs" %}

<div class="mw7-ns center">
  <div class="mb4 pt2">
    {% if request.user == teammate.user %}
    <div class="pv3">Write your OKRs for Q1 2019 here:</div>
    <form method="POST" id="okrform">
      <div id="okrs">
        {% if teammate.okrs %}
        {{ teammate.okrs|safe }}
        {% else %}
        <p><strong>Objective: Write my OKRs</strong></p>
        <p>
          <li>KR: at least 2 OKRs written for this quarter</li>
        </p>
        <p>
          <li>KR: all my key results are measurable</li>
        </p>
        <p><br></p>
        {% endif %}
      </div>
      <br>
      {% csrf_token %}
      <textarea name="okr_html" class="dn" id="hiddenarea"></textarea>
      <button type="submit" class="f6 link dim ph3 pv2 mb2 dib white bg-dark-blue bn">Save OKRs</button>
      {% if just_saved %}Saved!{% endif %}
    </form>
    {% else %}
    {% if teammate.okrs %}
    {{ teammate.okrs|safe }}
    {% else %}
    <div class="pt3">{{ teammate.name }} hasn't set any OKRs for this quarter yet.</div>
    {% endif %}
    {% endif %}
  </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>

{% if request.user == teammate.user %}
<script type="text/javascript">
  var quill = new Quill('#okrs', {
    theme: 'snow'
  });
  $('#okrform').on("submit", function () {
    $("#hiddenarea").val($('.ql-editor').html());
  });
</script>
{% endif %}
{% endblock main_content %}
